<nav>
    <ul>
        <li>
            <div class="user-profile-image">
                <img src="../../assets/user.png" alt="user-profile-image">
            </div>
        </li>
        <li>
            <a routerLink="/inquiry/dashboard">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/inquiry/user">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                User
            </a>
            
        </li>
        <li>
            <a routerLink="/inquiry/course">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Courses
            </a>
        </li>
        <li>
            <a routerLink="/inquiry/admission">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Admissions
            </a>
        </li>
        <li>
            <a routerLink="/inquiry/fee">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Fees & Payments
            </a>
        </li>
        <li>
            <a routerLink="/inquiry/follow-up">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Follow-ups & Activities
            </a>
        </li>
        <li>
            <a routerLink="/inquiry/reports">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Reports
            </a>
        </li>
    </ul>
</nav>