<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary btn-add" (click)="onAddUser()">User Add</button>

    <!-- <div>
      <button class="btn btn-outline-success me-2" (click)="sortByName('asc')">
        Sort A → Z
      </button>
      <button class="btn btn-outline-danger" (click)="sortByName('desc')">
        Sort Z → A
      </button>
    </div> -->

    <mat-form-field class="custom-textarea">
      <textarea matInput placeholder="Search" (input)="onSearchInputChange($event)"></textarea>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table" matSort>

      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef class="custom-table"> Sr.No </th>
        <td mat-cell *matCellDef="let row; let i = index"> {{(currentPage-1)*limit+i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table"> First Name </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="row.firstName | highlight: lastSearchText"></td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table"> Last Name </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="row.lastName | highlight: lastSearchText"></td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table"> Email </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="row.email | highlight: lastSearchText"> </td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef class="custom-table"> Mobile </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="row.mobile | highlight: lastSearchText"> {{ row.mobile }} </td>
      </ng-container>

      <ng-container matColumnDef="educationTitle">
        <th mat-header-cell *matHeaderCellDef class="custom-table"> Education </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="row.educationTitle | highlight: lastSearchText"> </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef class="custom-table"> Address </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="row.city | highlight: lastSearchText"> </td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="custom-table"> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="onEditUser(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteUser(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-paginator [length]="totalUsers" [pageSize]="limit" [pageIndex]="currentPage - 1"
    [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</div>