<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary btn-add" (click)="onAddCourse()">Add Course</button>

    <mat-form-field class="custom-textarea">
      <textarea matInput placeholder="Search"></textarea>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table">

      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Sr.No</th>
        <td mat-cell *matCellDef="let course; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Course Name</th>
        <td mat-cell *matCellDef="let course">{{ course.courseName }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Description</th>
        <td mat-cell *matCellDef="let course">{{course.description}}</td>
      </ng-container>

      <ng-container matColumnDef="courseFees">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Fees</th>
        <td mat-cell *matCellDef="let course">{{course.courseFees}}</td>
      </ng-container>

      <ng-container matColumnDef="courseMode">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Course Mode</th>
        <td mat-cell *matCellDef="let course">{{course.courseMode}}</td>
      </ng-container>

      <ng-container matColumnDef="courseDuration">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Duration</th>
        <td mat-cell *matCellDef="let course">{{course.courseDuration}}</td>
      </ng-container>

      <ng-container matColumnDef="typeName">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Type</th>
        <td mat-cell *matCellDef="let course">{{course.typeName}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="custom-table">Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [length]="totalCourse"
                   [pageSize]="limit"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="onPageChange($event)">
    </mat-paginator>
    
  </div>
</div>
