<!-- <div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary btn-add" data-bs-toggle="modal" data-bs-target="#addCourseModal">
    Course Add
  </button>
    <input type="text" class="form-control w-25" placeholder="Search Course..." />
  </div>

  <table class="table table-bordered table-striped mt-5">
    <thead>
      <tr class="text-center">
        <th>Sr.No</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Fees</th>
         <th>Course Mode</th>
        <th>Duration</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses;let i=index">
        <td>{{i+1}}</td>
        <td>{{course.courseName}}</td>
        <td>{{course.description}}</td>
        <td>{{course.courseFees}}</td>
        <td>{{course.courseMode}}</td>
        <td>{{course.courseDuration}}</td>
        <td>{{course.typeName}}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary me-2">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content mt-5">
      <div class="modal-header">
        <h5 class="modal-title" id="addCourseModalLabel">Add Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-courses-add></app-courses-add>
      </div>
    </div>
  </div>
</div> -->



