<div class="header">
    <span class="person"><i class="bi bi-person-circle"></i></span>
    <span class="notification"><i class="bi bi-bell-fill"></i></span>
    <span class="message"><i class="bi bi-envelope-fill"></i></span>
  </div>
  
  <div class="container-fluid">
  
    <!-- section for side navigation -->
    <div class="container sidebar">
  
      <!-- navigation component import -->
      <app-side-bar></app-side-bar>
      
  
    </div>
  
    <!-- section for router outlet -->
    <div class="container main">
      <router-outlet></router-outlet>
    </div>
  
  </div>